.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  align-items: center;
}

.header_button {
  background-color: #3CA2EA;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  color: white;
  padding: 0 25px;
}